.badge {
    max-width: 10rem;
    min-width: 6rem;
    height: 3rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: var(--color-primary-pink);
    border-radius: 2px;
    margin-right: 2px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;

    p {
        overflow: hidden;
        margin-right: 1rem;
    }

    img {
        width: 1.2rem;

    }
}