.combo-select {
    background-color: rgb(11, 9, 12);
    border: 0;
    width: 15rem;
    height: 4rem;
    border-radius: 2px;
    color: white;
    padding: 1rem;
    // margin: 0rem 1rem 1rem 0rem;
    margin: 0rem 0rem 0rem 1rem;
    cursor: pointer;
    display: flex;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Remove default arrow */

    /* Add custom arrow */

    background: url("../../assets/icons/play.svg") no-repeat #0b090c;
    background-size: 0.7rem;
    background-position: 90% center;

    /* Imagem de fundo (Seta) */

    /*Posição da imagem do background*/

    /* Tamanho do select, maior que o tamanho da div "div-select" */

    /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
    .combo-item {
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
        text-transform: uppercase;

        background-color: rgba(11, 9, 12, 0.7);

        &:hover {
            background-color: black !important;
            color: white;
        }

    }
}

.background-arrow {}