.all-episodes {
    display: flex;
    width: 100%;

    .episode-list {
        min-height: calc(100vh - 15rem);
        grid-auto-flow: row;
        display: grid;
        padding: 0.5rem 0 10rem 0;
        grid-gap: 5px;
        background-color: var(--color-background);
        grid-template-columns: 1fr 1fr 1fr;
    }

}