   .button-group {
       opacity: 0 !important;


       button {
           background-color: rgba(0, 0, 0, .7);
           color: #e4e3e3;
           border: 0;
           cursor: pointer;
           display: flex;
           text-transform: uppercase;
           align-items: center;
           justify-content: flex-start;
           max-width: 12rem;
           font-size: 1.3rem;
           margin-bottom: 0.5rem;
           height: 4rem;
           font-weight: 500;
           width: auto;
           padding-left: 1rem;
           padding-right: 1rem;
           border-radius: 0;
           border-top-right-radius: 5px;
           border-bottom-right-radius: 5px;

           &:hover {
               animation: hover-button forwards 0.1s;
           }

       }

       &:hover {
           button {
               opacity: 1;

           }
       }

   }

   //    @keyframes hover-button {
   //        from {
   //            background: linear-gradient(90deg, grey 0%, black 100%);
   //        }

   //        to {

   //            background: linear-gradient(90deg, grey 100%, black 0%);
   //        }
   //    }

   @keyframes appear-button-group {
       from {
           opacity: 50%;
           margin-left: -2px;

       }

       to {

           opacity: 10%;
           margin-left: 0;
           color: red;
       }
   }