.menu-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 2px);
    width: 28rem;
    max-width: 280px;
    background-color: var(--color-boxes);
    border-radius: 2px;
    margin-top: 2px;
    align-items: center;
    padding-top: 3rem;

    img {
        width: 5rem;
        border-radius: 50%;
    }

    h2 {
        font-size: 1.6rem;
        color: rgb(184, 184, 184);
    }

    p {
        font-size: 1.3rem;
        color: rgb(160, 160, 160);
        margin-bottom: 2rem;
    }



}