.dropdown-menu {
    cursor: pointer;
    width: 100%;
    display: flex;
    text-transform: uppercase;
    background-color: var(--color-menu);
    border: 0;
    color: #fff;
    margin: 1px 0;
    font-size: 1.2rem;
    transition: .2s ease;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 4rem;

    article {
        display: flex;
        height: 100%;
        align-items: center;

        img {
            margin-right: 1rem;
        }

        ;
    }

    img {
        width: 2.3rem;
    }

    .sub-icon {
        width: 2rem !important;
    }

    &:hover {
        background-color: var(--color-menu-hover);
    }

}