.header-container {
  color: white;

  a {
    text-decoration: none;
  }

  .datenow {
    color: rgb(163, 163, 163);
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 2rem;
  }

  hr {
    margin: 0 2rem 2rem 2rem;
    border: 1px solid #424141;
  }

  .welcome-banner {
    display: flex;
    background: rgb(245, 55, 103);
    background: linear-gradient(
      90deg,
      rgba(245, 55, 103, 1) 0%,
      rgba(251, 134, 164, 1) 100%
    );
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    margin-top: 5rem;

    .welcome-banner-main {
      display: flex;
      align-items: center;
      height: 9rem;

      img {
        width: 12rem;
        margin-left: 3%;
        align-self: flex-end !important;
      }
    }
    .banner-text {
      margin-left: 3%;
      width: 40rem;

      h2 {
        font-size: 1.7rem;
        text-transform: uppercase;
      }

      p {
        font-size: 1.4rem;
        margin-left: calc(7% + 3rem);
      }
    }

    .group-button {
      display: flex;
      flex-direction: row;
      margin-right: 2rem;
      font-size: 1.2rem;

      button {
        display: flex;
        width: 15rem;
        height: 3rem;
        cursor: pointer;
        font-size: 1.3rem;
        font-weight: 600;
        color: #1a1a1c;
        margin: 0 3px;
        border: 0;
        border-radius: 2px;
        text-transform: uppercase;
        transition: 0.2s ease;
        align-items: center;
        justify-content: center;

        img {
          width: 1.3rem;
          margin-right: 1rem;
        }

        &:hover {
          background-color: rgb(190, 190, 190);
        }
      }
    }
  }
}
