.registred-comments {
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px 0 #0c0c0c;
    margin: 0 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;

    background-color: var(--color-menu);


    button {
        border: 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.3rem;
        width: 100%;
        height: 8rem;
        background-color: var(--color-menu);
        cursor: pointer;
    }

    // article {
    //     background-color: var(--color-menu);
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 100%;
    //     height: 100%;
    //     border: 1px solid var(--color-menu);

    //     p {
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         width: 60%;
    //         color: white;
    //         font-size: 1.2rem;
    //         font-weight: 600;
    //         text-transform: uppercase;
    //     }
    // }

    .last-rate-item {
        border: 0 !important;
        border-bottom: 1px solid #404040 !important;


        span {
            display: flex;
            flex-direction: row;
            margin-bottom: 1rem;

            p:first-child {
                // max-height: 30px;
                // max-width: 10rem;

            }

            p {
                font-size: 1.3rem;
                color: white;
                text-transform: none;
                overflow: hidden;

            }
        }
    }

    .last-feed-item {
        border: 0 !important;
        border-bottom: 1px solid #404040 !important;


        span {
            display: flex;
            flex-direction: row;
            margin-bottom: 1rem;

            p:first-child {
                max-height: 30px;
                max-width: 10rem;

            }

            p {
                font-size: 1.3rem;
                color: white;
                text-transform: none;
                overflow: hidden;

            }
        }
    }

    .main-comments {
        p:last-child {
            max-width: 100rem !important;

        }

        article div {
            width: 100%;
        }

    }
}