.map-container {
  background-color: var(--color-menu);
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-radius: 4px;
  max-width: 50rem;
  width: 100%;
  box-shadow: 0 5px 20px 0 #0c0c0c;
}
