.last-registred-hentai {
    a {
        text-decoration: none;
        color: inherit;
    }

    p {
        max-width: none !important;
        overflow: hidden;
        max-width: 20rem !important;
        cursor: pointer !important;

    }
}