.all-hentais {
    display: flex;
    width: 100%;



    .hentai-list {
        min-height: calc(100vh - 15rem);
        grid-auto-flow: row;
        display: grid;
        padding: 0.5rem 0 10rem 0;
        grid-gap: 5px;
        background-color: var(--color-background);
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .button-show-more {
        background-color: var(--color-background);
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 20px;

        button {
            width: 100%;
            cursor: pointer;
        }
    }


}